streamlit==1.32.0
yt-dlp==2023.10.13
moviepy==2.1.1
python-dotenv==1.0.0
google-api-python-client==2.100.0
youtube-transcript-api==0.6.1
Pillow>=10.0.0
numpy<2.0.0,>=1.24.4
ffmpeg-python==0.2.0
imageio-ffmpeg>=0.4.7
opencv-python-headless==4.10.0.84
librosa>=0.10.0
gTTS>=2.3.0
pydub>=0.25.1